header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: #1d3854;
}

header .main-menu {
  width: 100%;
  background: #1d3854;
}

header .main-menu li a {
  height: 70px;
  display: flex;
  align-items: center;
  border: none;
  text-decoration: none;
  font-size: 14px;
}

header .help-project {
  background: rgb(255, 130, 61);
  color: #000;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  height: 40px;
  padding-top: 6px;
  box-sizing: border-box;
  margin-right: 37px;
  border-radius: 22px;
  text-transform: uppercase;
  min-width: 245px;
  padding-top: 13px;
  font-weight: bold;
  color: #fff;
}